In [4]:
#1.fill null values of a data frame using median and mode
import numpy as np
import pandas as pd
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,np.nan,65.26,110.5,948.5,np.nan,5760,1983.43,np.nan,250.45, 75.29,3045.6],
'sale_amt':[10.5,20.65,np.nan,11.5,98.5,np.nan,57,19.43,np.nan,25.45, 75.29,35.6]})
print(df)

     ord_no  purch_amt  sale_amt
0   70001.0     150.50     10.50
1       NaN        NaN     20.65
2   70002.0      65.26       NaN
3   70004.0     110.50     11.50
4       NaN     948.50     98.50
5   70005.0        NaN       NaN
6       NaN    5760.00     57.00
7   70010.0    1983.43     19.43
8   70003.0        NaN       NaN
9   70012.0     250.45     25.45
10      NaN      75.29     75.29
11  70013.0    3045.60     35.60

In [5]:
df['purch_amt'].fillna(df['purch_amt'].median(), inplace=True)
print(df)

     ord_no  purch_amt  sale_amt
0   70001.0     150.50     10.50
1       NaN     250.45     20.65
2   70002.0      65.26       NaN
3   70004.0     110.50     11.50
4       NaN     948.50     98.50
5   70005.0     250.45       NaN
6       NaN    5760.00     57.00
7   70010.0    1983.43     19.43
8   70003.0     250.45       NaN
9   70012.0     250.45     25.45
10      NaN      75.29     75.29
11  70013.0    3045.60     35.60

In [6]:
df['sale_amt'].fillna(df['sale_amt'].mode(), inplace=True)
print(df)

     ord_no  purch_amt  sale_amt
0   70001.0     150.50     10.50
1       NaN     250.45     20.65
2   70002.0      65.26     19.43
3   70004.0     110.50     11.50
4       NaN     948.50     98.50
5   70005.0     250.45     35.60
6       NaN    5760.00     57.00
7   70010.0    1983.43     19.43
8   70003.0     250.45     98.50
9   70012.0     250.45     25.45
10      NaN      75.29     75.29
11  70013.0    3045.60     35.60

2.difference between merging and joining in dataframe
===========================================
Both join and merge can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

In [7]:
#Create a dataframe and add a column, add names in it using apply function to return names whose length is greater than 5
import pandas as pd
df = pd.DataFrame({'Date' : ['11/8/2011', '11/9/2011', '11/10/2011',
                                        '11/11/2011', '11/12/2011'],
                'Event' : ['Music', 'Poetry', 'Music', 'Comedy', 'Poetry']})
  
print(df)

         Date   Event
0   11/8/2011   Music
1   11/9/2011  Poetry
2  11/10/2011   Music
3  11/11/2011  Comedy
4  11/12/2011  Poetry

In [8]:
def set_value(row_number, assigned_value):
    return assigned_value[row_number]

event_dictionary ={'Music' : 1500, 'Poetry' : 800, 'Comedy' : 1200}
  
df['Price'] = df['Event'].apply(set_value, args =(event_dictionary, ))
  
print(df)

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011  Comedy   1200
4  11/12/2011  Poetry    800

In [22]:
df['Length']=df["Event"].str.len()
print(df)

         Date   Event  Price  Length
0   11/8/2011   Music   1500       5
1   11/9/2011  Poetry    800       6
2  11/10/2011   Music   1500       5
3  11/11/2011  Comedy   1200       6
4  11/12/2011  Poetry    800       6

In [23]:
df[df["Length"]>5]

         Date   Event  Price  Length
1   11/9/2011  Poetry    800       6
3  11/11/2011  Comedy   1200       6
4  11/12/2011  Poetry    800       6

In [24]:
#4.create a numpy array and a dataframe and concatenate them
np.random.seed(0)
df = pd.DataFrame(np.random.choice(10, (3, 3)), columns=list('ABC'))
print(df)

   A  B  C
0  5  0  3
1  3  7  9
2  3  5  2